<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      {{#if logged_in}}
        <a class="btitle" href="/blog/{{blog.id}}">{{blog.title}}</a>
      {{else}}
        <a class="btitle" href="/login">{{blog.title}}</a>
      {{/if}}
    </h2>
    <p></p>
    <p class="timestamp">Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7 outline">
    <p class="post">
      {{blog.post}}
    </p>
  </div>
</div>
{{/each}}
